#logo{
    width: 70px;
}

.icon-redes{
    text-decoration: none;
    list-style: none;
    color: white;
}

.icon-redes:hover{
    text-decoration: none;
    list-style: none;
    color: #66B3FF ;
}

h1{
    color: #004C99;
}

.navbar{
    background-color: #004C99!important;
    height: 70px;
}

#search{
    height: 30px;
    border: none;
    border-radius: 10px;
    outline: none;
}

#formsearch{
    margin-left: 720px;
}

#searchbtn{
    height: 38px;
    border: none;
    background-color: #004C99;
}

#cart-total{
    display: inline-block;
    position: absolute;
	text-align: center;
	color: white;
	background-color: red;
	width: 15px;
	height: 20px;
	border-radius: 50%;
	font-size: 12px;
    
}

.card-img-top{
    width: 150px;
    height: 150px;
}

.navbar-brand{
    color: white;
}

.navbar-brand:hover{
    color: #66B3FF;
}

.nav-item .nav-link{
    color: white!important;
}


.form-inline .btn{
    background-color: white;
    border: white;
    color: #004C99;
}

.form-inline .btn:hover{
    background-color: #66B3FF;
    color: white;
}

.fa-sharp{
    color: white;
}

.fa-sharp:hover{
    color: #FFA500;
}

.card{
    border: solid 1px #004C99;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
}

#price{
    color: #004C99;
    font-size: 20px;
}

.btn-view{
    background-color:#004C99;
    color: white;
}

.btn-view:hover{
    color: #004C99;
    background-color: white;
    border: solid 1px #004C99;
}

.btn-car{
    background-color: #FFA500;
    color: white;
}

.btn-car:hover{
    color: #FFA500;
    background-color: white;
    border: solid 1px #FFA500;
}

.card-header{
    background-color: white;
}

.card-header .btn{
    background-color: #FFA500;
    color: white;
}

.card-header .btn:hover{
    color: #FFA500;
    background-color: white;
    border: solid 1px #FFA500;
}

.novidade{
    width: 100%;
    height: 100%;
}

.imagem-nov{
    margin-right: 4px;
    margin-top: 40px;
}


#btn-checkout{
    background-color:#004C99;
    color: white;
}

#btn-checkout:hover{
    color: #004C99;
    background-color: white;
    border: solid 1px #004C99;
}
.row-img{
    width: 60px;
}

#info2{
    display: flex;
}

#info2 .number{
    margin-bottom: 64px;
}

.tr{
    align-items: center;
}

.img_cart{
    width: 10px;
    height: 10px;
    display: inline-block;
}

.pai_img_cart1{
    position: relative;
    margin-bottom: 15px;
}

.pai_img_cart{
    position: relative;
}

.img_cart{
    position: absolute;
    top: 0;
}

.info-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#info-user-center{
    margin-bottom: 10px;
}

#coutry{
    margin-top: 10px;
}

#continue{
    background-color: #66B3FF;
    color: white;
}

#continue:hover{
    background-color: white;
    color: #66B3FF;
    border: solid 1px #66B3FF;
}

.btn-back-car{
    background-color: #FFA500;
    color: white;
}

.btn-back-car:hover{
    color: #FFA500;
    background-color: white;
    border: solid 1px #FFA500;
}

input{
    border: solid 1px #a7a3a3;
    padding: 6px;
}

.paypal{
    margin-top: 10px;
    display: none!important;
}

#fazer-pagamento{
    border: solid red 1px;
    background-color: red;
    color: white;
    border-radius: 7px;
    padding: 6px;
}

#fazer-pagamento:hover{
    border: solid red 1px;
    background-color: white;
    color: red;
    border-radius: 7px;
    padding: 6px;
}

.info3{
    display: flex;
    justify-content: space-around;
}

.info4{
    margin-top: 10px;
    font-weight: bolder;
}

footer{
    margin-top: 160px;
    width: 100%;
    height: 200px;
    background-color: #66B3FF;
    color: white;
}