{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <a class="btn btn-continue" href="{% url 'store' %}"><i class="fa-solid fa-arrow-left mx-2"></i>Continuar Comprando</a>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Itens: {{ pedido.valor_total_itens }}</th>
                                <th scope="col">Total: R${{ pedido.valor_total_carrinho|floatformat:2 }}</th>
                                <th scope="col"><a  style="float:right; margin:5px;" class="btn" id="btn-checkout" href="{% url 'checkout' %}">Checkout</a></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-lg-12">
            <div class="card">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Item</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in itens %}
                            <tr class="tr" >
                                <td><img src="{{ item.produto.imagemURL }}" class="row-img" alt="..."></td>
                                <td scope="row"><strong>{{ item.produto.nome }}</strong></td>
                                <td>{{ item.produto.preco|floatformat:2 }}</td>
                                <td id="info2">
                                    <div class="number">
                                        <span id="number-quantity" class="mx-2">{{ item.quantidade }}</span>
                                    </div>
                                    <div class="icons-up-down">
                                        <div class="sort-up">
                                            <i class="fa-solid fa-sort-up"></i>
                                        </div>
                                        <div class="sort-down">
                                            <i class="fa-solid fa-sort-down"></i>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ item.valor_total|floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>     
        </div>
    </div>
{% endblock %}
