{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    {% if banners %}
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                {% for banner in banners %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ banner.imagemURL }}" class="d-block w-100" alt="{{ banner.nome }}">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    {% endif %}
    <h1 class="text-center mt-5">Produtos</h1>
    <div class="row">
        {% if produtos %}
            {% for produto in produtos %}
                <div class="col-lg-4">
                    <div class="card my-lg-5" style="width: 18rem;">
                        <div class="d-flex justify-content-center my-2">
                            <img src="{{ produto.imagemURL }}" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ produto.nome }}</h5>
                            <p><strong>{{ produto.discricao }}</strong></p>
                            <h7 id="price"><strong> R${{ produto.preco|floatformat:2 }}</strong></h7>
                            <div class="d-grid gap-2 mt-2">
                                <button data-produto="{{produto.id}}" class="btn btn-car att-cart" data-acao="add">Adicionar <i id="icone-add" class="fa-sharp fa-solid fa-cart-shopping mx-1 my-1"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3 class="text-center text-danger">NÃO TEMOS ESSE PRODUTO PESQUISADO</h3>
        {% endif %}
    </div>
{% endblock %}
{% block novidade %}
    <div class="d-flex flex-wrap">
        {% for informacoes in informacao %}
            <div class="col-lg-6">
                <div class="">
                    <div class="imagem-nov">
                        <img src="{{ informacoes.imagemURL }}" class="card-img-top novidade" alt="...">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock novidade %}