{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for produto in produtos %}
        <div class="col-lg-4">
            <div class="card my-lg-5" style="width: 18rem;">
                <div class="d-flex justify-content-center my-2">
                    <img src="{{ produto.imagemURL }}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ produto.nome }}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button data-produto={{produto.id}} class="btn btn-car att-cart" data-acao="add">Add Carrinho</button>
                    <a href="#" class="btn btn-view">Ver</a>
                    <h7 id="price">{{ produto.preco|floatformat:2  }}</h7>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}